In [57]:
import pandas as pd
import numpy as np

In [58]:
data=pd.read_csv("D:/Data Analysis/Food Order Dataset/food_orders_new_delhi.csv")

In [59]:
data.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

Remove Duplicate values

In [60]:
#Check for duplicate rows
duplicate_data=data.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_data}")

Number of duplicate rows: 0

No duplicate values present in any of the rows.  If any duplicate values present in any of the rows, use the below code to remove it.

In [61]:
data=data.drop_duplicates()

Handlind Missing values.

(#) Remove : Delete row / Column with missing values.

(#) Fill : Impute missing values with mean,median, mode or constant values.

(#) Interpolate : Use interpolation methods to estimate missing values

In [62]:
data.isna().sum()

Order ID                    0
Customer ID                 0
Restaurant ID               0
Order Date and Time         0
Delivery Date and Time      0
Order Value                 0
Delivery Fee                0
Payment Method              0
Discounts and Offers      185
Commission Fee              0
Payment Processing Fee      0
Refunds/Chargebacks         0
dtype: int64

In [63]:
(data['Discounts and Offers']).dtype

dtype('O')

In [64]:
data['Discounts and Offers'].unique()

array(['5% on App', '10%', '15% New User', nan, '50 off Promo'],
      dtype=object)

In [65]:
data['Discounts and Offers'].value_counts()

Discounts and Offers
10%             233
50 off Promo    201
15% New User    198
5% on App       183
Name: count, dtype: int64

In [66]:
data.size

12000

In [67]:
data.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   object
 4   Delivery Date and Time  1000 non-null   object
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    815 non-null    object
 9   Commission Fee          1000 non-null   int64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: int64(6), object(6)
memory usage: 93.9+ KB

(#) Fill with default values : This could be 'None' or '0%' indicating no discount.

(#) Fill with the most frequent value: use mode of the column

Choosen default value as "None" in this case to fill.

In [69]:
data["Discounts and Offers"].fillna("None",inplace=True)

C:\Users\ManiKandan\AppData\Local\Temp\ipykernel_13448\2680135766.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Discounts and Offers"].fillna("None",inplace=True)

In [70]:
data.isna().sum()

Order ID                  0
Customer ID               0
Restaurant ID             0
Order Date and Time       0
Delivery Date and Time    0
Order Value               0
Delivery Fee              0
Payment Method            0
Discounts and Offers      0
Commission Fee            0
Payment Processing Fee    0
Refunds/Chargebacks       0
dtype: int64

In [71]:
data['Discounts and Offers'].value_counts()

Discounts and Offers
10%             233
50 off Promo    201
15% New User    198
None            185
5% on App       183
Name: count, dtype: int64

Identify Outliers

Identify outliers using statistical techniques (IQR,Z-score) or Visualization (box Plot).

(#) Remove : Delete rows with outliers

(#) Cap: Limit outliers to specific range

(#) Transform : use transformation like log or  Square root

Please note that removing outliers is not a crucial step every time. Only remove outliers if they affect the interpretation of the data or a machine learning model.

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   object
 4   Delivery Date and Time  1000 non-null   object
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    1000 non-null   object
 9   Commission Fee          1000 non-null   int64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: int64(6), object(6)
memory usage: 93.9+ KB

In [73]:
data.describe()

,Order ID,Order Value,Delivery Fee,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,500.500000,1053.969000,28.620000,126.99000,29.832000,28.300000
std,288.819436,530.975339,16.958278,43.06405,11.627165,49.614228
min,1.000000,104.000000,0.000000,50.00000,10.000000,0.000000
25%,250.750000,597.750000,20.000000,90.00000,20.000000,0.000000
50%,500.500000,1038.500000,30.000000,127.00000,30.000000,0.000000
75%,750.250000,1494.000000,40.000000,164.00000,40.000000,50.000000
max,1000.000000,1995.000000,50.000000,200.00000,50.000000,150.000000

In [74]:
numerical_columns=['Order Value','Delivery Fee','Commission Fee','Payment Processing Fee','Refunds/Chargebacks']

In [75]:
def cap_outliers(series):
    lower_cap=series.quantile(0.01)
    upper_cap=series.quantile(0.99)
    return series.clip(lower_cap,upper_cap)

for col in numerical_columns:
    data[col]=cap_outliers(data[col])

Clips the Outliers:
series.clip(lower_cap, upper_cap): Any values below lower_cap are replaced with lower_cap, and values above upper_cap are replaced with upper_cap.

In [76]:
data.describe()

,Order ID,Order Value,Delivery Fee,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,1053.960000,28.620000,126.980100,29.832000,28.300000
std,288.819436,530.642312,16.958278,43.030262,11.627165,49.614228
min,1.000000,118.000000,0.000000,51.000000,10.000000,0.000000
25%,250.750000,597.750000,20.000000,90.000000,20.000000,0.000000
50%,500.500000,1038.500000,30.000000,127.000000,30.000000,0.000000
75%,750.250000,1494.000000,40.000000,164.000000,40.000000,50.000000
max,1000.000000,1974.000000,50.000000,198.010000,50.000000,150.000000

Converting Data Type

Identify column with Incorrect data type and covert data type to appropriate format (Eg: string to dates , Floats to integer)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   object
 4   Delivery Date and Time  1000 non-null   object
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    1000 non-null   object
 9   Commission Fee          1000 non-null   float64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 93.9+ KB

Order Date and Time and Delivery Date and Time are objects, convert them into data type dates

In [78]:
data['Delivery Date and Time']=pd.to_datetime(data['Delivery Date and Time'])

In [79]:
data['Order Date and Time']=pd.to_datetime(data['Order Date and Time'])

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   datetime64[ns]
 4   Delivery Date and Time  1000 non-null   datetime64[ns]
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    1000 non-null   object
 9   Commission Fee          1000 non-null   float64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 93.9+ KB

Handling Categorical data

Identify categorical columns, if problem demands convert categorical data into numerical format. 

1) One-hot encoding  -  Suitable for Nominal data (Order doesn't matter)
2) Label encoding - Suitable for Ordinal data (Order matters)  Eg: Low,Medium, High

In [83]:
data.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150.0,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198.0,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195.0,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,None,146.0,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1974,30,Cash on Delivery,50 off Promo,130.0,50,0

In [81]:
data['Payment Method'].unique()

array(['Credit Card', 'Digital Wallet', 'Cash on Delivery'], dtype=object)

In [82]:
data['Payment Method'].value_counts()

Payment Method
Cash on Delivery    357
Credit Card         337
Digital Wallet      306
Name: count, dtype: int64

In [84]:
data=pd.get_dummies(data,columns=['Payment Method'],drop_first=True)

In [85]:
data.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks,Payment Method_Credit Card,Payment Method_Digital Wallet
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,5% on App,150.0,47,0,True,False
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,10%,198.0,23,0,False,True
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,15% New User,195.0,45,0,False,False
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,None,146.0,27,0,False,False
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1974,30,50 off Promo,130.0,50,0,False,False

Handling Inconsistent data

Identify Inconsistenies (eg: Different Format, typos) and correct inconsistencies manually or using predefined rules. 

In our dataset, the discounts and offers columns has data inconsistencies, which makes it a challenge to calculate the exact discount amount.